<div class="w-full h-full">
    <div class="grid grid-cols-12 row-span-1 h-full">
        <div class="col-span-4 fondo1">
            <div class="grid grid-cols-1">
                <img src="assets/login/comentario.svg" alt="comentario">
                <img src="assets/login/persona.png" alt="persona">
            </div>
        </div>
        <div class="col-span-8 fondo2">
            <img class="m-auto" src="assets/login/logo.svg" alt="logo">
            <div class="titulo ml-3 mt-5">
                <span>Bienvenidos a tu Tienda en Casa</span>
            </div>
            <div class="subtitulo ml-3">
                <span>Ahorro cerca de ti</span>
            </div>

        </div>
    </div>
</div>